body {
    position: relative;
  }
  ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.image-conainer {
    text-align: center; 
}

img {

    box-shadow: 0px 0px 15px black;
    display: block;
    margin: 5em auto 1em;

}
    

h2 {
    color: #333;
}

.events-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.events-table th, .events-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.events-table th {
    background-color: #f2f2f2;
}


.primary {
    background-color: #3498db;
    color: #fff;
    border: none;
}

.secondary {
    background-color: #e74c3c;
    color: #fff;
    border: none;
}

  .nav-item {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: rgb(237, 237, 237);
    font-weight: bold;
    box-shadow: 0px 2px 5px #a5a5a5;
    letter-spacing: 2px;
    padding: 1em;
  }
  
  #content {
    width: 50%;
    padding-top: 40px;
    margin: auto;
  }
  
  .section:nth-child(1) .secondary {
    float: right;
  }
  
  .event {
    border: solid 2px lightgray;
    border-radius: 15px;
    margin-bottom: 1em;
    padding: 1em;
  }
  .event .title {
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
  }
  .event .date {
    float: right;
  }
  .event .description {
    padding: 0.5em 0em 0.5em 0em;
  }
  .event button {
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 8px;
    border: solid 1px rgb(3, 99, 203);
  }
  .event button.primary {
    background-color: rgb(3, 99, 203);
    color: white;
  }
  .event button.secondary {
    background-color: white;
    color: rgb(3, 99, 203);
  }
  .event button.secondary:hover {
    background-color: rgb(3, 99, 203);
    color: white;
  }
  
  .info {
    background-color: rgb(250, 250, 210);
    box-shadow: 2px 2px 18px #a5a5a5;
    border: solid yellow 1px;
    border-radius: 10px;
    padding: 1em;
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    width: 130px;
    height: 130px;
  }
